$surface-color: #121212;
$primary-color: #BB86FC;
$secondary-color: #03DAC6;
$error-color: #CF6679;

$dp00: $surface-color;
$dp01: lighten($surface-color, 5%);
$dp02: lighten($surface-color, 7%);
$dp03: lighten($surface-color, 8%);
$dp04: lighten($surface-color, 9%);
$dp06: lighten($surface-color, 11%);
$dp08: lighten($surface-color, 12%);
$dp12: lighten($surface-color, 14%);
$dp16: lighten($surface-color, 15%);
$dp24: lighten($surface-color, 16%);

$text-color-highlighted: rgba(#FFFFFF, 87%);
$text-color: rgba(#FFFFFF, 60%);
$text-color-disabled: rgba(#FFFFFF, 38%);