@use "../../assets/scss/colors.scss" as col;

.appContainer {
    color: col.$text-color;
    background: col.$surface-color;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 1em;
    width: 100%;
}